.h2text {
    color: #8B8C8C;
}

.nav1 img {
    height: 32px;
}

.ikktadiv {
    background-color: #F2F7FF;
}

.ichdiv1 {
    background-color: white;
}

.h11 {
    font-family: Playfair Display;
}

#intro {
    background-color: #FFFFFF;
}

.call {
    background-color: #094B72;
}

.h1title {
    font-family: Playfair Display;
}

.oyoq {
    background-color: #094B72;
}

.pastdiv {
    background-color: #004D7B;
}

.btndiv {
    background-color: #E7F6FF;
}

.btnnew {
    background-color: #094B72;
}

.textbtn {
    background-color: #094B72;
}

.gumba {
    font-family: Playfair Display;
}

.opaxonpast {
    background-color: white;
}